* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
}


body {
    font-family: 'Raleway', sans-serif;
    font-size: 1.6rem;
}

.hero-shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .6);
    z-index: -1;
}

.additional-text {
    font-size: 1.8rem;
}

.top-hero {
    position: relative;
    height: 20rem;
    background-size: cover;
    z-index: 0;
}

.top-hero-text {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 3.6rem;
    text-transform: uppercase;
}

/* ###########################
        NAWIGACJA
########################### */

nav {
    font-size: 2rem;
    text-transform: uppercase;
}

nav .navbar-brand {
    font-size: 2.5rem;
    font-weight: bold;
    text-transform: none;
}

.navbar-toggler {
    font-size: 2.5rem;
}

/* ###########################
    KONIEC SEKCJI NAWIGACJA
########################### */

/* ###########################
            HEADER
########################### */

header {
    position: relative;
}

.carousel-item {
    height: 50vh;
    z-index: 0;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.carousel-image-1 {
    background-image: url('../img/homeCarousel/mustang.jpg');
}

.carousel-image-2 {
    background-image: url('../img/homeCarousel/skyline.jpg');
}

.carousel-image-3 {
    background-image: url('../img/homeCarousel/supra.jpg');
}

.carousel-text p {
    z-index: 1;
}

@media (min-width: 992px) {
    .carousel-item {
        height: 60vh;
    }

    .carousel-image-1 {
        background-image: url('../img/homeCarousel/hq/mustangHQ.jpg');
    }

    .carousel-image-2 {
        background-image: url('../img/homeCarousel/hq/skylineHQ.jpg');
    }

    .carousel-image-3 {
        background-image: url('../img/homeCarousel/hq/supraHQ.jpg');
    }
}

/* ###########################
    KONIEC SEKCJI HEADER
########################### */

/* ###########################
            MAIN
########################### */

main .home-boxex {
    padding: 5rem 0;
}

main .home-box i {
    font-size: 4rem;
    margin-bottom: 1rem;
}

main .home-box h3 {
    font-size: 2.6rem;
}

main .home-passion {
    position: relative;
    height: 25vh;
    background-image: url('../img/mainCar/mainCar.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: 0;
}

@media (min-width: 992px) {
    main .home-passion {
        background-image: url('../img/mainCar/mainCarHQ.jpg');
    }
}

.main-info .text h3 {
    font-size: 2rem;
    font-weight: bold;
}

/* ###########################
        KONIEC SEKCJI MAIN
########################### */

/* ###########################
        FOOTER
########################### */

footer p {
    font-size: 2rem;
}



/* ###########################
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
        PODSTRONA ABOUT
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!        
########################### */
.aboutus-hero {
    background-image: url('../img/about/highway.jpg');
    background-position: bottom;
}

@media (min-width: 992px) {
    .aboutus-hero {
        background-image: url('../img/about/highwayHQ.jpg');
    }
}

.aboutus-top .display-3 {
    text-transform: uppercase;
}



/* box-shadow: inset 0 5px 5px grey; */

.passion-and-goals {
    min-height: 30vh;
}

.values-text {
    font-size: 2.5rem;
    font-weight: bold;
    text-transform: uppercase;
    display: inline-block;
}

@media (min-width: 992px) {
    .passion-and-goals {
        transform: skewX(-10deg);
    }

    .aboutus-shadow {
        box-shadow: inset 0 5px 10px -5px rgba(0, 0, 0, .6);
    }
}

.aboutus-card .card-icon {
    font-size: 4rem;
}

.about-cards .card-title {
    font-weight: bold;
    font-size: 2rem;
}

/* ###########################
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
       KONIEC PODSTRONY ABOUT
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!        
########################### */

/* ###########################
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
        PODSTRONA SERVICES
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!        
########################### */

.services-hero {
    background-image: url('../img/services/car-top.jpg');
    background-position: bottom;
}

@media (min-width: 992px) {
    .services-hero {
        background-image: url('../img/services/car-topHQ.jpg');
        background-position: 50% 80%;
    }
}

.service-hero-box {
    position: relative;
    height: 300px;
    background-size: cover;
    z-index: 0;
}

.service-hero-box p {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    text-transform: uppercase;
}

.service-pricing .box-one {
    background-image: url('../img/services/service-card/mechanical-tuning.jpg');
}

.service-pricing .box-two {
    background-image: url('../img/services/service-card/visual-tuning.jpg');
}

.service-pricing .box-three {
    background-image: url('../img/services/service-card/audio-tuning.jpg');
}

.service-pricing .box-four {
    background-image: url('../img/services/service-card/all-in.jpg');
}

.service-pricing .accordion-button {
    font-size: 2rem;
}

.service-pricing .accordion .card-body h3 {
    font-weight: bold;
}

.service-pricing .accordion .card-footer .btn {
    font-size: 1.6rem;
    text-transform: uppercase;
}

/* ###########################
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
    KONIEC PODSTRONY SERVICES
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!        
########################### */