* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html {
    font-size: 10px;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #181D23;
    width: 100vw;
    height: 100vh;
}

.info-top h1 {
    font-weight: bold;
    text-transform: uppercase;
}

.info-top p {
    font-size: 1.6rem;
}

.panel {
    width: 1400px;
    height: 850px;
    border-radius: 15px;
    overflow: hidden;
}

.panel-left {
    background-color: #4b5769;
}

.panel .time-and-date {
    flex-basis: 20%;
}

.time-and-date .day {
    font-size: 2rem;
}

.time-and-date .time {
    font-size: 2.5rem;
    font-weight: bold;
}

.time-and-date .date {
    font-size: 1.5rem;
}

.panel-left .menu {
    flex-basis: 70%;
}

.menu .menu-link {
    flex-basis: 30%;
    border: 1px solid white;
    border-radius: 10px;
    color: white;
    width: 90%;
    padding: 5px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;

    transition: 1s;
}

.menu .menu-link i {
    font-size: 4rem;
}

.menu .menu-link h3 {
    font-size: 1.8rem;
    font-weight: bold;
}

.menu-link.active {
    background-color: rgba(255, 255, 255, .2);
}

.menu .menu-link:hover {
    background-image: linear-gradient(160deg, rgba(0, 110, 255, .25) 0%, rgba(9, 255, 0, 0.25) 100%);
}

.panel-left .mini-footer h3 {
    font-size: 1.8rem;
}

.panel-left .mini-footer p {
    font-size: 1.4rem;
}

.panel-right {
    background-image: linear-gradient(180deg, rgba(55, 64, 76, 1) 0%, rgba(21, 26, 32, 1) 100%);

}

.main-stats h1 {
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: bold;
}

.main-stat-box {
    height: 130px;
    border-radius: 15px;
    transition: .2s;
}

.main-stat-box:hover {
    background-color: rgba(255, 255, 255, .08);
}

.main-stat-box h3 {
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: bold;
}

.main-stat-box p {
    font-size: 1.2rem;
}



.page-link {
    background-color: transparent;
    padding: .5em 1em;
    font-size: 1.3rem;
    transition: .3s;
}

.page-link:hover {
    background-color: rgba(255, 255, 255, .3);
}

.table-title {
    font-size: 2rem;
    font-weight: bold;
}

.sorting .dropdown-toggle,
.sorting .dropdown-item {
    font-size: 1.3rem;
}

.main-table .table-dark {
    background-color: transparent;
}

table th,
table td {
    font-size: 1.4rem;
}

/* aside */

.aside .users-title {
    margin-bottom: 1em;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: bold;
}

.aside .firm-logo h2 {
    font-size: 3.4rem;
    text-shadow: 0 0 5px #fff;

}

.aside .firm-logo p {
    font-size: 1.6rem;
}

.users-online p,
.users-gender-icons {
    font-size: 3.5rem;
}

.users-male i.fa-male {
    text-shadow: 0 0 15px rgb(9, 255, 0);
}

.users-female i.fa-female {
    text-shadow: 0 0 15px rgb(0, 110, 255);
}

.gender-percent {
    font-size: 3rem;
}

.month-select,
.month-select option {
    font-size: 1.5rem;
}

.statistics .info {
    font-size: 1.5rem;
}

.statistics .number {
    font-size: 1.4rem;
}


/* ##############################################

POSDTRONA POSTY

############################################## */

.posts h3 {
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: bold;
}

.featured-post .card-title {
    font-size: 1.8rem;
}

.featured-post .card-body {
    font-size: 1.4rem;
}

.featured-post .btn {
    font-size: 1.6rem;
}

.featured-post:hover {
    background-image: linear-gradient(160deg, rgba(0, 110, 255, .25) 0%, rgba(9, 255, 0, 0.25) 100%);
}


.img-hover-zoom {
    overflow: hidden;
    width: 100%;
    height: 180px;
}

.user-img {
    object-fit: cover;
    object-position: center;
    opacity: 0.6;
    transition: .3s;
}

.user-img:hover {
    opacity: 1;
    transform: scale(1.1);
}

.user-card .card-title,
.user-card .btn {
    font-size: 1.2rem;
}

.find-post,
.find-post input,
.find-post .btn,
.find-post .dropdown-item {
    font-size: 1.4rem;
}

.modal-body {
    text-align: left;
    font-size: 1.6rem;
}

.modal-body .modal-body-title {
    font-size: 2.6rem;
}

.modal-body .modal-body-buttons span {
    font-size: 1.6rem;
    text-transform: uppercase;
}

.modal-footer .btn {
    font-size: 1.6rem;
}